:root {
  --btn-color: #0277BD;
  --active-btn-color: #0288D1;
  --headerContrast: lightgoldenrodyellow;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0px;
  font-family: sans-serif;
  text-align: center;
  background: url("./data/brown-wooden-board.jpg");
}

h1 {
  width: fit-content;
  padding: .5rem;
  margin: 1rem auto 1rem;
  border-radius: 1rem;
  font-size: 3rem;
  background: var(--headerContrast);
}

.container {
  width: fit-content;
  font-size: 2.5rem;
  aspect-ratio: 1 / 1;
  margin: 2rem auto 0;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.1em;
}

.container>div {
  height: 1.15em;
  aspect-ratio: 1 / 1;
  border: 2px black solid;
  border-radius: 1rem;
  background: white;
}

button {
  font-size: 1.25rem;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 25px;
  margin-top: 2rem;
}

button {
  background: var(--btn-color);
}

@media (hover: hover) {
  button:hover {
    background: var(--active-btn-color);
  }
}

.timer {
  width: fit-content;
  margin: 2rem auto 1rem;
  font-size: 2rem;
  background: var(--headerContrast);
  display: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.timer.done {
  animation: 0.75s ease-in-out 4 alternate zoom;
}

@keyframes zoom {
  100% {
    transform: scale(1.25);
  }
}

@media (min-width: 75rem) {
  h1 {
    font-size: 4rem;
  }

  .container {
    font-size: 4rem;
  }

  button {
    font-size: 1.5rem;
  }

  .timer {
    font-size: 2.5rem;
  }
}